<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database_v1</title>
     <!--bootstrap CDN-->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <!-- <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div> -->
    <div class="row-container row">
        <div class="col-lg-6"><b>Available Databases</b></div>
        <div class="col-lg-6"><b>Today's Date:</b> <%= listTitle %> </div>
    </div>
    <div class="row-container row">
        <div class="col-lg-6">No Database Present</div>
        <div class="col-lg-6">No Database Present</div>
    </div>

  
        <form action="/" class="item" method="post">
            <button name="list" type="submit" value="<%= listTitle %>">+</button>
            <input type="text" name="itemAdd" placeholder="Add Database" autocomplete="off">
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>

